body {
	margin: 0;
	color: black;
	background-color: white;
}

html {
	font-family: Sans-Serif;
}

.container {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}

ul.departures {
	position:relative;
	width:100%;

	border-width:1px 2px;
	margin-bottom: 5em;

	list-style-type:none;
	margin:0;
	padding:0;
}

ul.departures > li {
	display: block;
	height: 3em;
	width: 100%;
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid grey;
	background-color: white;
}

ul.departures > li.cancelled {
	background-color: #ffe7d0;
}

ul.departures li .line {
	position: absolute;
	bottom: 0;
	left: 2px;
	max-width: 6em;
	max-height: 3ex;
	max-width: 4em;
	overflow: hidden;
	font-size: 150%;
	background-color: #eeeeee;
	font-weight: bold;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

ul.departures li .tram {
	background-color:#ffcccc;
}

ul.departures li .suburban {
	background-color:#aaffba;
	border-radius: 30px;
}

ul.departures li .subway {
	background-color:#aac0ff;
}

ul.departures li .bus {
	background-color:#eeaaee;
	border-radius: 10px;
}

ul.departures li .dest {
	position: absolute;
	bottom: 0;
	left: 4em;
	width: 70%;
	overflow: hidden;
	background-color: transparent;
	font-size: 160%;
	color: black;
}

ul.departures li .destsuffix {
	position: absolute;
	top: 1px;
	left: 6.5em;
	width: 70%;
	height: 1.2em;
	overflow: hidden;
}

ul.departures li .time {
	position: absolute;
	right: 5px;
	top: 4px;
	background-color: transparent;
	font-size: 100%;
	padding-left: 0.2em;
	color: black;
}

ul.departures li .platform {
	position: absolute;
	bottom: 0;
	right: 5px;
	overflow: hidden;
	background-color: transparent;
	font-size: 150%;
	color: black;
}

@media only screen and (max-width: 600px) {
	ul.departures > li {
		font-size: 85%;
	}
}

@media only screen and (min-width: 600px) {
}
