<!DOCTYPE html>
<html lang="de">
<head>
	<title>{{ title }}</title>
	{% include 'header.html' %}
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
	<div class="textcontent">
		<p>
			NVM ist ein inoffizieller Abfahrtsmonitor für Nahverkehr in Deutschland
			und Umgebung.
			© 2021 <a href="https://finalrewind.org/me">Birte Kristina Friesel</a>
			/ <a href="https://social.skyshaper.org/users/derf">@derf@social.skyshaper.org</a>.
			Der <a href="https://github.com/derf/nvm">Quelltext</a> steht unter
			der GNU AGPL v3 als Open Source zur Verfügung.
		</p>
	</div>
</div>

{% include 'footer.html' %}

</body>
</html>
