{% for departure in departures %}
	<li class="{{ departure.classes }}" data-timestamp="{{ departure.sort_by }}">
		<a href="/trip/{{ departure.tripId }}?line={{ departure.quoted_line_name }}&amp;highlight={{ departure.quoted_stop_name }}&amp;platform={{ departure.quoted_platform() }}">
			<span class="line {{ departure.line.css_class }}">{{ departure.line.name }}</span>
			{% if departure.suffix %}
				<span class="destsuffix">{{ departure.suffix }}</span>
			{% endif %}
			<span class="dest" aria-label="nach {{ departure.direction }}">{{ departure.direction }}
			</span>
			{% if departure.cancelled and departure.plannedWhen %}
				<span class="time" aria-label="fällt aus, planmäßige Abfahrt um {{ departure.plannedWhen }}">
					{{ departure.plannedWhen.strftime("%H:%M") }}
				</span>
			{% else %}
				<span class="time" aria-label="Abfahrtszeit: {{ departure.relativeWhen }}">
					{% if departure.delay %}
						<span class="delay" aria-label="{{ departure.delay }} Minuten Verspätung">({{ departure.delay }})</span>
					{% elif departure.delay is none %}
						<span class="no-realtime" aria-hidden="true"><i class="material-icons">gps_off</i></span>
					{% endif %}
					{{ departure.relativeWhen }}
				</span>
			{% endif %}
			{% if departure.cancelled %}
				<span class="cancelled" aria-hidden="true">entfällt</span>
			{% elif departure.platform %}
				<span class="platform" aria-label="Steig {{ departure.platform }}">{{ departure.platform }}</span>
			{% endif %}
		</a>
	</li>
{% endfor %}
