<!DOCTYPE html>
<html lang="de">
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Abfahrtsmonitor, Bahnhofstafel, Abfahrten, Abfahrtstafel, Nahverkehr, Haltestellen">
	<meta name="description" content="Inoffizieller Abfahrtsmonitor für Nahverkehr">
	<meta name="theme-color" content="#00838f">
	<link rel="icon" type="image/png" href="/static/icons/icon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/icons/icon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/icons/icon-96x96.png" sizes="96x96">
	<link rel="apple-touch-icon" href="/static/icons/icon-120x120.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/icon-180x180.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/static/icons/icon-167x167.png">
	<link href="/static/v0/css/wip.css" id="theme" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="content">
		<ul class="departures">
			{% for departure in departures %}
				<li class="{{ departure.classes }}" onclick="location.href='https://dbf.finalrewind.org/map/{{ departure.tripId }}/0';">
					<span class="line {{ departure.line.css_class }}">{{ departure.line.name }}</span>
					{% if departure.suffix %}
						<span class="destsuffix">{{ departure.suffix }}</span>
					{% endif %}
					<span class="dest" aria-label="nach {{ departure.direction }}">{{ departure.direction }}
					</span>
					{% if departure.cancelled and departure.plannedWhen %}
						<span class="time" aria-label="um {{ departure.plannedWhen }}">{{ departure.plannedWhen.strftime("%H:%M") }}</span>
					{% else %}
						<span class="time" aria-label="in {{ departure.relativeWhen }}">{{ departure.relativeWhen }}</span>
					{% endif %}
					{% if departure.platform %}
						<span class="platform" aria-label="Gleis/Bussteig {{ departure.platform }}">{{ departure.platform }}</span>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
</body>
</html>
