<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Abfahrtsmonitor, Bahnhofstafel, Abfahrten, Abfahrtstafel, Nahverkehr, Haltestellen">
<meta name="description" content="Inoffizieller Abfahrtsmonitor für Nahverkehr">
<meta name="theme-color" content="#00838f">
<link rel="icon" type="image/png" href="/static/icons/icon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/static/icons/icon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/icons/icon-96x96.png" sizes="96x96">
<link rel="apple-touch-icon" href="/static/icons/icon-120x120.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/icon-180x180.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/icon-152x152.png">
<link rel="apple-touch-icon" sizes="167x167" href="/static/icons/icon-167x167.png">
<link href="/static/v4/css/light.min.css" id="theme" rel="stylesheet">

<script>
	function addStyleSheet(name, id) {
		const path = "/static/v4/css/" + name + ".min.css";
		const old = document.getElementById(id);
		if (old && (old.href != path)) {
			old.href = path;
		}
	}
	const currentTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	addStyleSheet(currentTheme, 'theme');
</script>
