<!DOCTYPE html>
<html lang="de">
<head>
	<title>{{ title }}</title>
	{% include 'header.html' %}
	<script src="/static/v0/js/geolocation.js"></script>
</head>
<body>
<div class="container">
	<div class="content">
		<div class="geolocation">
			<button id="geolocationsearch">Haltestellen in der Umgebung suchen</button>
		</div>
		<form action="/find/stop">
			<input id="name" name="name" required type="text">
			<label for="name">Manuelle Eingabe</label>
			<button class="btn waves-effect waves-light btn-flat" type="submit" name="action" value="departures">
				Suchen
			</button>
		</form>
	</div>
</div>
</body>
</html>
