<!DOCTYPE html>
<html lang="de">
<head>
	<title>{{ title }}</title>
	{% include 'header.html' %}
	<script src="/static/v0/js/geolocation.js"></script>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
	{% if error %}
		<div class="content">
			<div class="error">
				<strong>{{ error["lead"] }}</strong>
				{{ error["body"] }}
				<div class="errcode">{{ error["code"] }}</div>
			</div>
		</div>
	{% endif %}
	<div class="content">
		<p>
		NVM ist ein inoffizieller Abfahrtsmonitor für Nahverkehr in Deutschland
		und Umgebung. Diese Seite ist ein kostenfreies, privat betriebenes
		Projekt ohne Verfügbarkeitsgarantie. Alle Angaben ohne Gewähr.
		</p>
	</div>
	<div class="content">
		<form action="/find/stop">
			<label for="name">Haltestelle:</label>
			<input id="name" name="name" required type="text">
			<button class="btn waves-effect waves-light btn-flat" type="submit" name="action" value="departures">
				Suchen
			</button>
		</form>
	</div>
	<div class="content">
		<div class="geolocation">
			<button id="geolocationsearch">Haltestellen in der Umgebung suchen</button>
		</div>
	</div>
</div>
</body>
</html>
