<div class="navbar-fixed">
	<nav style="color: #ffffff; background-color: #001f8f;">
		<div class="container">
			{% if nav_link %}
				<a class="main" href="{{ nav_link }}">{{ title }}</a>
			{% else %}
				<span class="main">{{ title }}</span>
			{% endif %}
			<ul id="nav-mobile" style="float: right;">
				<li class="waves-effect waves-light">
					<a onClick="javascript:toggleTheme()"><i class="material-icons" aria-label="Farbschema invertieren">invert_colors</i></a>
				</li>
				<li><a href="/"><i class="material-icons" aria-label="Stationen in der Umgebung suchen">my_location</i></a></li>
			</ul>
		</div>
	</nav>
</div>
