<!DOCTYPE html>
<html lang="de">
<head>
	<title>{{ title }}</title>
	{% include 'header.html' %}
	<!--<script src="/static/v8/js/reload.js"></script>-->
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
	<div class="content">
		{% if warning %}
			<div class="content">
				<div class="warning">
					<strong>{{ warning["lead"] }}</strong>
					{{ warning["body"] }}
					<div class="errcode">{{ warning["code"] }}</div>
				</div>
			</div>
		{% endif %}
		<div class="tripinfo" id="tripinfo">
			{% include 'tripinfo.html' %}
		</div>
	</div>
</div>

{% include 'footer.html' %}

</body>
</html>
