<div class="dataline">

<div><div class="arrival">
{% if tripinfo.arrival %}
	An:
	{% if tripinfo.arrivalDelay %}
		<span class="delay">{{ tripinfo.arrival.strftime('%H:%M') }}</span>
		<br/>Plan: {{ tripinfo.plannedArrival.strftime('%H:%M') }}
	{% else %}
		{{ tripinfo.arrival.strftime('%H:%M') }}
	{% endif %}
{% elif tripinfo.plannedArrival %}
	{% if tripinfo.cancelled %}
		<span class="delay">An: ––:––</span>
		<br/>Plan: {{ tripinfo.plannedArrival.strftime('%H:%M') }}
	{% else %}
		An: <i class="material-icons">gps_off</i> {{ tripinfo.plannedArrival.strftime('%H:%M') }}
	{% endif %}
{% endif %}
</div></div>

<div><div class="platform">
{% if tripinfo.cancelled %}
	<span class="delay">Fahrt fällt aus</span>
{% elif tripinfo.platform %}
	Steig {{ tripinfo.platform }}
{% else %}
	&nbsp;
{% endif %}
</div></div>

<div><div class="departure">
{% if tripinfo.arrival %}
	Ab:
	{% if tripinfo.departureDelay %}
		<span class="delay">{{ tripinfo.departure.strftime('%H:%M') }}</span>
		<br/>Plan: {{ tripinfo.plannedDeparture.strftime('%H:%M') }}
	{% else %}
		{{ tripinfo.departure.strftime('%H:%M') }}
	{% endif %}
{% elif tripinfo.plannedDeparture %}
	{% if tripinfo.cancelled %}
		<span class="delay">Ab: ––:––</span>
		<br/>Plan: {{ tripinfo.plannedDeparture.strftime('%H:%M') }}
	{% else %}
		Ab: <i class="material-icons">gps_off</i> {{ tripinfo.plannedDeparture.strftime('%H:%M') }}
	{% endif %}
{% endif %}
</div></div>

</div>

<div class="linklist">
{% if tripinfo.quoted_where %}
<a class="smallbutton" href="https://dbf.finalrewind.org/map/{{ tripinfo.id }}/0?from={{ tripinfo.quoted_where }}"><i class="material-icons" aria-hidden="true">map</i> Karte</a>
{% else %}
<a class="smallbutton" href="https://dbf.finalrewind.org/map/{{ tripinfo.id }}/0"><i class="material-icons" aria-hidden="true">map</i> Karte</a>
{% endif %}
<div>

<div class="remarks">
<ul>
{% for remark in tripinfo.remarks %}
{% if remark["type"] == "status" and remark["code"] is none %}
<li>{{ remark["summary"] }} – {{ remark["text"] }}</li>
{% endif %}
{% endfor %}
</ul>
</div>

<div class="route">
Fahrtverlauf:
<ul>
{% for stopover in tripinfo.stopovers %}
	<li class="
	{% if stopover.is_future %}
		future-stop
	{% else %}
		past-stop
	{% endif %}
	{% if stopover.cancelled %}
		cancelled-stop
	{% endif %}
	">
	{% if stopover.when %}
		{{ stopover.when.strftime('%H:%M') }}
	{% elif stopover.plannedWhen %}
		{{ stopover.plannedWhen.strftime('%H:%M') }}
	{% endif %}
	{% if stopover.is_requested_stop %}
		<span class="this-stop">{{ stopover.name }}</span>
	{% else %}
		{{ stopover.name }}
	{% endif %}
	</li>
{% endfor %}
</ul>
</div>
